// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card{
    margin-bottom: 12px;
    padding: 12px;
}
.tag{
    background-color: rgba($color: #689acc, $alpha: 0.5);
    width: fit-content;
    padding: 6px;
    border-radius: 10px;
    margin: 6px 0;
}